Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
.idea
.git
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.code-workspace
*.suo
*.xcodeproj
*.xcworkspace
CMakeLists.txt
.ignore
.vsconfig
Documentation
